# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# OS files
.DS_Store

# Logs
*.log

# dotenv
.env

# Ignore test files or temp outputs
tmp/
